  </main>

  <footer>
    <h3>JGTravels</h3>
    <a href="https://github.com/jctgarcia20">GitHub</a>
    <a href="https://www.linkedin.com/in/jctgarcia20/">LinkedIn</a>
    <a href="jctgarcia20@gmail.com">Contact</a>
    <p>© 2022 Jordan-Christopher T. Garcia</p>
  </footer>
</body>
</html>