html, * {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
}

a {
  color: white;
}

a:hover {
  color: rgb(180, 220, 255);
}

nav {
 background-color: #79A9D1;
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
 height: 70px;
}

nav > a {
  font-size: 15px;
  margin: 15px;
}

nav > a:last-child {
  margin-left: auto;
}

.login {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

#container {
  margin-top: 1rem;
  position: relative;
}

#container > button {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(41, 73, 206);
  color: white;
  border-radius: 5px;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  min-height: 3rem;
  -webkit-tap-highlight-color: transparent;
  text-shadow: none;
}

#title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}

#slogan {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 8px;
}

h2 {
  margin-left: 2rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.7rem;
}

#models {
  display: flex;
  justify-content: center;
}

.column, figcaption {
  /* display: flex; */
  /* justify-content: center; */
  max-width: 95%;
  height: auto;
  border-radius: 5px;
  margin: .5rem;
}

figcaption {
  margin-top: -.5rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #7D8CA3;
  color: white;
}

footer > a {
  display: flex;
  font-size: 15px;
  margin-left: 25px;
  flex-direction: column;
}

footer > h3 {
  font-size: 20px;
  margin: 25px;
  margin-bottom: 5px;
}