<%- include('../partials/header') %>

<h1>Create New Trip</h1>

<form action="/trips" method="POST">
  <label>Trip Name:</label>
    <input type="text" name="title">
  <label>Location:</label>
    <input type="text" name="location">
  <label>Start Date:</label>
    <input type="text" name="startDate">
  <label>End Date:</label>
    <input type="text" name="endDate">
  <label>Budget:</label>
    <input type="number" name="budget">
  <label>Expenses:</label>
    <input type="number" name="expenses">
  <label>Public Status:</label>
    <select name="privacy">
      <option value="false">Private</option>
      <option value="true">Public</option>
    </select>
  <input type="submit" value="Add Trip">
</form>

<%- include('../partials/footer') %>